
main {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #f9f9f9;
    padding: 40px;
}

body {
    font-family: 'Kanit', sans-serif;
}

li {
font-family: 'Kanit', sans-serif;
}

.link-termo {
    background-color: #2b134b;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}